[submodule "portce"]
	path = portce
	url = https://github.com/adriweb/PortCE.git
	branch = portce_v3
[submodule "cemu"]
	path = cemu
	url = https://github.com/CE-Programming/CEmu.git
	branch = latest-stable
